@import "tailwindcss";
:root {
  --background: #0b0f19;
  --foreground: #e5e7eb;
  --primary: #e11d48;
  --card: #111827;
}

body {
  background: radial-gradient(circle at 20% 20%, #1f1f1f 0%, #0b0f19 60%);
  color: var(--foreground);
  font-family: Inter, system-ui, sans-serif;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
